<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>422747680259-9d2i85mbqhccagrpk33sp6hgjcvse3mm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422747680259-9d2i85mbqhccagrpk33sp6hgjcvse3mm</string>
	<key>API_KEY</key>
	<string>AIzaSyBi8DX4k100aGTFuHsblUlZyjYCyw2Dy88</string>
	<key>GCM_SENDER_ID</key>
	<string>422747680259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cis195.StudyConnect</string>
	<key>PROJECT_ID</key>
	<string>cis195-final-project-98d45</string>
	<key>STORAGE_BUCKET</key>
	<string>cis195-final-project-98d45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422747680259:ios:18625d2820e07d12</string>
	<key>DATABASE_URL</key>
	<string>https://cis195-final-project-98d45.firebaseio.com</string>
</dict>
</plist>